

$pale-blue: hsl(225, 100%, 94%);
$bright-blue: hsl(245, 75%, 52%);


$very-pale-blue: hsl(225, 100%, 98%);
$desaturated: hsl(224, 23%, 55%);
$dark-blue: hsl(223, 47%, 23%);

$white: #fff;

$default-font-size: 1.6rem;